[submodule "protos_files_job"]
	path = protos_files_job
	url = https://github.com/Sanchir01/protos_files_job.git
[submodule "microservice"]
	path = microservice
	url = https://github.com/Sanchir01/microservice.git
[submodule "microservice_sandjma_category"]
	path = microservice_sandjma_category
	url = https://github.com/Sanchir01/microservice_sandjma_category.git
[submodule "sandjma_graphql"]
	path = sandjma_graphql
	url = https://github.com/Sanchir01/sandjma_graphql.git
[submodule "microservice_sandjma_products"]
	path = microservice_sandjma_products
	url = https://github.com/Sanchir01/microservice_sandjma_products.git
